@font-face {
    font-family: belligerent;
    src: url(./belligerent.ttf);
}

$logo-font: belligerent, "sans serif";



header {
    background: #ede0e6;

   .image-top-logo{
        width: 35px;
    }

    h1 {
        color: #2a1e26;
        font-family: $logo-font;
    }
    
    h1 .image-logo {
     width: 100px;
    }

    .image-modal {
        width: 45px;
    }

    .bloc-titre {
        background: #ede0e6 !important;
    }

}

main {
    
}

footer{
    img {
        width: 60px;
    }
}
