@font-face {
    font-family: belligerent;
    src: url(./belligerent.ttf);
}

$logo-font: belligerent, "sans serif";



header {
    background: #ede0e6;

   nav .image-top-logo{
        width: 35px;
    }

    h1 {
        color: #2a1e26;
        font-family: $logo-font;
    }
    
    h1 .image-logo {
     width: 100px;
    }

    .image-modal {
        width: 45px;
    }

}

main {
    
}

footer{
    // padding: 0px 0;
    img {
        width: 60px;
    }
}






.block-titre {
    background: #ede0e6 !important;
}


.fa-shopping-basket {
    font-size: 24px;
}

// @media  screen and (min-width: 568px) and (max-width: 1200px) {
//     h1 {
//         font-size: 8vw!important;
//     }
// }



span.orinoco-form-contact {

    font-family: belligerent;
    font-size: 32px;
}


// #footer-logo {
//     max-width: 80px;
// }