@font-face {
  font-family: belligerent;
  src: url(./belligerent.ttf);
}

header {
  background: #ede0e6;
}

header nav .image-top-logo {
  width: 35px;
}

header h1 {
  color: #2a1e26;
  font-family: belligerent, "sans serif";
}

header h1 .image-logo {
  width: 100px;
}

header .image-modal {
  width: 45px;
}

footer img {
  width: 60px;
}

.block-titre {
  background: #ede0e6 !important;
}

.fa-shopping-basket {
  font-size: 24px;
}

span.orinoco-form-contact {
  font-family: belligerent;
  font-size: 32px;
}
