@font-face {
    font-family: belligerent;
    src: url(./../belligerent.ttf);
}

$logo-font: belligerent, "sans serif";



header {
    background: #ede0e6;

    #icone-panier-top {
        position: relative;
        font-size: 13px!important;
        // display: inline-block;
        // padding: 2px 10px;
        // border: 1px solid green;

        &:hover {
            //background: #fff;
            // border: 1px solid #fff;
            // border-radius: 20%;
        }

        .image-top-logo{
            width: 35px;
        }

        .contenu-panier {
            position: absolute;
            top: -4px;
            left: 10px;
            border-radius: 50%;
            background: #fff;
            padding: 1px 4px; 
            color: #000!important;
            
        }
        .montant-panier {
            position: relative;
            top: 0px;
            left: 10px;
        }

    }



    h1{
        color: #2a1e26;
        font-family: $logo-font;
    }
    
    h1 .image-logo {
     width: 80px;
    }

    .bloc-titre {
        background: #ede0e6 !important;
    }

}

main {


    
}

footer{
    img {
        width: 60px;
    }
}

i {
    display: inline-block;
    font-size: 26px!important;
    margin-left: 5px;
}


/* Page de confirmation*/